version: '3.8'

services:
  redis:
    image: redis:alpine
    container_name: processor_redis
    ports:
      - "6379:6379"


  web:
    build: .
    container_name: processor_web
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      - REDIS_URL=redis://redis:6379/0
    depends_on:
      - redis


  worker:
    build: .
    container_name: processor_worker
    command: celery -A config worker --loglevel=info
    volumes:
      - .:/app
    env_file:
      - .env
    environment:
      - REDIS_URL=redis://redis:6379/0
    depends_on:
      - web
      - redis